################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NLog.Targets.AzureEventHub/bin/Debug
/NLog.Targets.AzureEventHub/obj
/.vs
/NLog.Targets.AzureEventHub/.vs/NLog.Targets.AzureEventHub
